<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212789154137-8aalos278n6gglc009t92ft45lk8b6hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212789154137-8aalos278n6gglc009t92ft45lk8b6hd</string>
	<key>API_KEY</key>
	<string>AIzaSyB5rOVG-lHfKIxYg7v66Y63zMVjj1iuLp0</string>
	<key>GCM_SENDER_ID</key>
	<string>212789154137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharedstudent.campus</string>
	<key>PROJECT_ID</key>
	<string>campus100</string>
	<key>STORAGE_BUCKET</key>
	<string>campus100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212789154137:ios:1da1f452894a19702e7c48</string>
</dict>
</plist>