<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212789154137-pdk3ii1o0lmet3kk8hc1vtf6b6etlo2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212789154137-pdk3ii1o0lmet3kk8hc1vtf6b6etlo2f</string>
	<key>API_KEY</key>
	<string>AIzaSyB5rOVG-lHfKIxYg7v66Y63zMVjj1iuLp0</string>
	<key>GCM_SENDER_ID</key>
	<string>212789154137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thegistapp.thegist</string>
	<key>PROJECT_ID</key>
	<string>campus100</string>
	<key>STORAGE_BUCKET</key>
	<string>campus100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212789154137:ios:1a4f18e745f362392e7c48</string>
</dict>
</plist>